

<div class="filter-box">
    <h3>Filter Robots</h3>
    <div class="inner-filter-box">
        <form>
            <input name="searchTerm" [(ngModel)]="searchTerm" placeholder="Search" />
        </form>
        <mat-form-field>
            <mat-label>Select a status</mat-label>
            <mat-select [(value)]="selectedStatus">
                <!-- values in mat-option allow term to be filtered -->
                <mat-option>None</mat-option>
                <mat-option value="Active">Active</mat-option> 
                <mat-option value="Inactive">Inactive</mat-option>
                <mat-option value="Error">Error</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<table>
    <thead>
        <tr>
            <!-- each different click allows different fields to sort the robots -->
            <th (click)="sortRobots('name')">
                Name
            </th>
            <th (click)="sortRobots('status')">
                Status
            </th>
            <th (click)="sortRobots('date')">
                Last Updated
            </th>
        </tr>
    </thead>
    <tbody>
        <!-- creating table based on the robotItems in home, Custom pipes are used to filter robots by name or status or bot -->
        @for(robot of robotItems() | filterRobots : searchTerm() | filterRobotByStatus : selectedStatus(); track robot._id){
        <tr (click)="onRobotClick(robot._id)">
            <td>
                {{robot.name}}
            </td>
            <td [style.color]="statusColorService.getStatusColor(robot.status)">
                {{robot.status}}
            </td>
            <td>
                {{robot.lastUpdated}}
            </td>
        </tr>
        }
    </tbody>
</table>