<h3>Robot Details</h3>
<!-- Card provided by angular material to cleanly display robot's info -->
<mat-card class="robot-details-card">
    <mat-card-header>
    <mat-card-title>
        {{ robotInfo()?.name}}
    </mat-card-title>
</mat-card-header>
    <mat-card-content>
        <h3>Current Status</h3>
        <!-- style color to color the status based on the status -->
        <p [style.color]="statusColorService.getStatusColor(robotInfo()?.status || '')">{{robotInfo()?.status}}</p>
        <h3>Last Updated</h3>
        <p>{{robotInfo()?.lastUpdated}}</p>
        <h3>Firmware Version</h3>
        <p>{{robotInfo()?.firmwareVersion}}</p>
    </mat-card-content>
</mat-card>